/* IMPORT STYLESHEETS */

@import "rs.css";

/* STYLE */

html {
    font-size: 160%;
}

body {
    background-color: #fff;
    font-family: 'Signika Negative', sans-serif;
    color: #3a2431;
    font-weight: 400;
    background: url(../img/food.svg);
    background-repeat: repeat;
}

.yellow {
    color: #ffe062;
}

div.bar-top {
    position: relative;
    background: url(../img/bg2x.jpg);
    height: 16vh;
    color: #fff;
    box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.35);
    padding: 0 5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    z-index: 999;
}

div.bar-bottom {
    background-color: #3a2431;
    color: #fff;
    height: 5.7vh;
    min-height: 2rem;
    font-size: 1.3rem;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.35);
    padding: 0 5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.papu {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img.rice {
    width: 84px;
    height: 82px;
    position: relative;
    top: 1rem;
}

img.logo {
    height: 120px;
    margin: auto;
    -webkit-filter: drop-shadow( 2px 2px 10px #000);
    filter: drop-shadow( 2px 2px 10px #000);
}

img.arrow-left {
    height: 5%;
    cursor: pointer;
    position: absolute;
}


/* hamburger & animacja hamburgera */

div.hamburger {
    background: #3a2431;
    width: 13vw;
    height: 13vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.menu {
    width: 60px;
    height: 50px;
    position: absolute;
    margin: auto auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 999999;
}

div.menu span {
    display: block;
    position: absolute;
    height: 8px;
    width: 100%;
    background: #fff;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

div.menu span:nth-child(1) {
    top: 0px;
}

div.menu span:nth-child(2) {
    top: 20px;
}

div.menu span:nth-child(3) {
    top: 41px;
}

div.menu.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

div.menu.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

div.menu.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}


/* koniec animacji hamburgera */

span.title {
    margin: auto;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 500;
    color: #fff;
}

@media only screen and (orientation: landscape) {
    span.title {
        font-size: 1rem;
    }
    div.bar-top,
    div.profile {
        height: 25vh;
    }
    img.logo {
        height: 16vh;
    }
    div.bar-bottom {
        height: 15vh;
    }
    img.menu {
        height: 10vh;
    }
    img.arrow-left {
        height: 10%;
    }
}

.rating {
    width: 14vw;
    height: 14vw;
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
    background: #ffe062;
    color: #000;
    font-size: 300%;
    text-align: center;
    line-height: 14vw;
    font-size: 8vw;
    display: inline-block;
}

.rating-mini {
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    max-width: 200px;
    background: #ffe062;
    color: #000;
    text-align: center;
    line-height: 8vw;
    font-size: 1.3rem;
    display: inline-block;
}

.short {
    width: 45vw;
}

.long {
    width: 91vw;
}

button.button {
    border-radius: 5px;
    box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.35);
    text-transform: uppercase;
    font-family: 'Signika Negative', sans-serif;
    font-size: 1.1rem;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    width: 100%;
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    height: 140px;
}

button.button-yellow {
    background-color: #3a2431;
    color: #fff;
    border: none;
}

button.button-black {
    background-color: #fff;
    color: #3a2431;
    font-weight: 700;
    border: 4px solid #3a2431;
}

button.short {
    width: 48%;
}

section.content {
    padding: 5vw 5vw;
}

nav {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    margin: 0 0 0 -80%;
    -moz-transition: all 200ms ease-in;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    /* background-image: url(../img/menu-bg.jpg);*/
    background: #3a2431;
    background-size: cover;
    background-repeat: repeat-y;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
}

nav li {
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 300;
    color: #fff;
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2rem;
}

nav a {
    text-decoration: none;
    display: block;
    padding: 5%;
    letter-spacing: 2px;
}

nav a:hover {
    background: #76405e;
}

.navi {
    /*  position: relative;
  top: 0%;
  left: 5%;
*/
    -moz-transition: all 200ms ease-in;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    z-index: 500;
}

.bar-top {
    display: none;
}

.bar-top nav.active {
    margin: 0;
}

.bar-top label.active {
    left: 83%;
}

.bar-top section.active {
    -webkit-transform: translate3d(80%, 0, 0);
    -moz-transform: translate3d(80%, 0, 0);
    -o-transform: translate3d(80%, 0, 0);
    transform: translate3d(80%, 0, 0);
}

.profile span {
    color: #ffe062;
    font-weight: normal;
    text-shadow: 2px 2px 10px #000;
}

.profile {
    height: 16vh;
    background-image: url(../img/food.svg);
    /*background: #fff;*/
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    padding-right: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.img-circle {
    border-radius: 50%;
    height: 50%;
    box-shadow: 2px 2px 50px #3a2431;
}

.profile-data {
    padding-left: 1.3rem;
    font-size: 1rem;
}

.form-group label {
    display: block;
    font-size: .8rem;
    margin: 0 1% 0 1%;
    color: #ffe062;
}

.form-group input[type="text"] {
    padding: 1rem;
    margin: 1rem 0;
    font-family: 'Signika Negative', sans-serif;
    font-size: 1.8rem;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.65);
    border: 3px solid #3a2431;
    border-radius: 13px;
    color: #3a2431;
    outline: 0px;
}


/*----------------typografia--------------------*/

span {
    color: #3a2431;
    font-size: 2rem;
    font-weight: 700;
}

span.name {
    text-align: left;
    text-transform: uppercase;
}

p {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
}
