* {
    outline: border:1px red;
}

.menulista {
    
}
.menuitem1 {
    background-image: url(../img/beef-1845296_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    min-height: 25vh; 
    
}

.menuitem2 {
    background-image: url(../img/pizza-2000602_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    min-height: 25vh; 
    
}

.menuitem3 {
    background-image: url(../img/salad-1264107_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    min-height: 25vh; 
    
}

@media (-webkit-min-device-pixel-ratio: 2) {
    .menuitem1 {
        background: url(../img/beef-1845296_1920@2x.jpg);
        background-size: cover; 
    }
}

@media (-webkit-min-device-pixel-ratio: 2) {
    .menuitem2 {
        background: url(../img/pizza-2000602_1920@2x.jpg);
        background-size: cover; 
    }
}

@media (-webkit-min-device-pixel-ratio: 2) {
    .menuitem3 {
        background: url(../img/salad-1264107_1920@2x.jpg);
        background-size: cover; 
    }
}

@media (-webkit-min-device-pixel-ratio: 3) {
    .menuitem1 {
        background: url(../img/beef-1845296_1920@3x.jpg);
        background-size: cover; 
    }
}

@media (-webkit-min-device-pixel-ratio: 3) {
    .menuitem2 {
        background: url(../img/pizza-2000602_1920@3x.jpg);
        background-size: cover; 
    }
}

@media (-webkit-min-device-pixel-ratio: 3) {
    .menuitem3 {
        background: url(../img/salad-1264107_1920@3x.jpg);
        background-size: cover; 
    }
}


.menuitemgradient {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,000000+56,000000+100&0+0,0+25,0.7+56,0.9+100 */
background: -moz-linear-gradient(top,  rgba(125,185,232,0) 0%, rgba(69,102,128,0) 25%, rgba(0,0,0,0.7) 56%, rgba(0,0,0,0.9) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(69,102,128,0) 25%,rgba(0,0,0,0.7) 56%,rgba(0,0,0,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(125,185,232,0) 0%,rgba(69,102,128,0) 25%,rgba(0,0,0,0.7) 56%,rgba(0,0,0,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#e6000000',GradientType=0 ); /* IE6-9 */



min-height:25vh;
}

.menudescription{
    padding: 5vw;
    
}

span {
    font-family: Roboto;
    color:  #ffdf62 ;
    font-size: 2rem;
    font-weight: 700;
}

.name {

text-align: left;
text-transform: uppercase;

}

p {
    font-size: 1.6rem;
    font-weight: 300;
}


.italic {font-style: italic;}
.shadow {text-shadow: 1px 1px 3px rgba(66, 66, 66, 1)};

h2 {
    font-size: 1.4rem;
    font-weight: 700;
   
}

.mitem-infoleft {
    float: left;
    width: 70%;
    font-size: 1.6rem;
    font-weight: 300;
    padding-top: 7vh;
}

.mitem-inforight {
    float: right;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2rem;
}

.right-arrow {
    height: 5vh;
    cursor: pointer;
    padding-top: 6vh;
    padding-left: 9vh;
}

.mitem-arrowright {
    clear:both;
}

.mitem-price {
    padding-top: 5vh;
    padding-left: 1vh;
}

.mitem-right {
    text-align: right;
}






















