    div.dish-bg {
        background: #fff;
        width: 100%;
        padding: 1rem;
        box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.35);
        box-sizing: border-box;
        display: flex;
        align-items: center;
    }
    
    div.order {
        background: url(../img/order-1x.jpg);
        width: 26vw;
        height: 26vw;
        border-radius: 60%;
        box-sizing: border-box;
    }
    
    @media (-webkit-min-device-pixel-ratio: 3) {
        div.order {
            background: url(../img/order-3x.jpg);
        }
    }
    
    section.delivery-data {
        display: block;
        margin-top: 0rem;
        box-sizing: border-box;
        display: flex;
        width: 100%;
        padding: 0 5vw 5vw 5vw;
    }
    
    div.order-details {
        width: 60%;
        margin-left: 2rem;
    }
    
    div.order-details,
    section.delivery-data span {
        font-size: 1.8rem;
    }
    
    div.order-details p {
        margin-top: 0.75rem;
        font-size: 1.5rem;
        line-height: 2rem;
    }
    
    div.sum {
        float: right;
        text-align: right;
        font-size: 1.8rem;
        margin: 1.5rem;
    }
    /* Checkbox style */
    
    input.checkbox-remember-data {
        opacity: 0;
    }
    
    input.checkbox-remember-data,
    label.checkbox-remember-data-label {
        display: hidden;
        vertical-align: middle;
        cursor: pointer;
    }
    
    label.checkbox-remember-data-label {
        position: relative;
    }
    
    input.checkbox-remember-data + label.checkbox-remember-data-label:before {
        content: ' ';
        background: #fff;
        border: 4px solid #3a2431;
        border-radius: 30%;
        display: inline-block;
        vertical-align: middle;
        width: 50px;
        height: 50px;
        padding: 2px;
        margin-right: 10px;
        text-align: center;
    }
    
    div.checkbox1 label {
        font-size: 1.7rem;
        margin-top: 1rem;
        display: flex;
        align-items: center;
        color: #3a2431;
        font-weight: bold;
    }
    
    input.checkbox-remember-data:checked + .checkbox-remember-data-label:before {
        content: "\2713";
        background: #3a2431;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.3rem;
        text-align: center;
    }
    
    input.checkbox-remember-data:focus + .checkbox-remember-data-label {
        outline: 0px;
    }
    /* End of checkbox styles */
    
    div.mini-button-section {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 2.4rem;
    }
    /* Quantity x price + quantity button section */
    
    div.details-bottom {
        margin-top: 1rem;
    }
    
    div.details-left p {
        margin: 0;
    }
    
    div.details-right {
        display: inline-block;
        width: 40%;
    }
    
    div.quantity {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        align-self: stretch;
    }
    
    button.small {
        border: none;
        width: 100px;
        height: 100px;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    button.minus {
        background: url(../img/minus.svg);
    }
    
    button.plus {
        background: url(../img/plus.svg);
    }
    
    div.quantity p {
        margin: 0 0.7rem;
        font-size: 2.5rem;
    }
