div.dish-bg {
    background: url(../img/pizza-2x.jpg);
    width: 100%;
    height: 320px;
    box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.35);
    box-sizing: border-box;
}

@media (-webkit-min-device-pixel-ratio: 2) {
    .dish-bg {
        background: url(../img/pizza-2x.jpg);
    }
}

@media (-webkit-min-device-pixel-ratio: 3) {
    .dish-bg {
        background: url(../img/pizza-3x.jpg);
    }
}

section.delivery-data {
    display: block;
    margin-top: 0rem;
    height: calc(78.3vh - 321px - 3.8rem);
    box-sizing: border-box;
    display: flex;
    width: 100%;
    padding: 0 5vw 5vh 5vw;
}

div.gradient-right {
    padding: 1rem;
    box-sizing: border-box;
    height: 321px;
    background: rgba(255, 93, 177, 0);
    background: -moz-linear-gradient(left, rgba(255, 93, 177, 0) 0%, rgba(0, 0, 0, 0.39) 21%, rgba(0, 0, 0, 1) 54%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 93, 177, 0)), color-stop(21%, rgba(0, 0, 0, 0.39)), color-stop(54%, rgba(0, 0, 0, 1)));
    background: -webkit-linear-gradient(left, rgba(255, 93, 177, 0) 0%, rgba(0, 0, 0, 0.39) 21%, rgba(0, 0, 0, 1) 54%);
    background: -o-linear-gradient(left, rgba(255, 93, 177, 0) 0%, rgba(0, 0, 0, 0.39) 21%, rgba(0, 0, 0, 1) 54%);
    background: -ms-linear-gradient(left, rgba(255, 93, 177, 0) 0%, rgba(0, 0, 0, 0.39) 21%, rgba(0, 0, 0, 1) 54%);
    background: linear-gradient(to right, rgba(255, 93, 177, 0) 0%, rgba(0, 0, 0, 0.39) 21%, rgba(0, 0, 0, 1) 54%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ff5db1', endColorstr='#000000', GradientType=1);
}

div.order-details {
    width: 70%;
    margin-left: 30%;
}

div.order-details,
section.delivery-data span {
    font-size: 1.5rem;
}

div.order-details p {
    margin-top: 0.5rem;
    font-size: 1.4rem;
    line-height: 2rem;
}

div.sum {
    float: right;
    text-align: right;
    font-size: 1.8rem;
    margin: 1rem;
}


/* Checkbox style */

input.checkbox-remember-data {
    opacity: 0;
}

input.checkbox-remember-data,
label.checkbox-remember-data-label {
    display: hidden;
    vertical-align: middle;
    cursor: pointer;
}

label.checkbox-remember-data-label {
    position: relative;
}

input.checkbox-remember-data + label.checkbox-remember-data-label:before {
    content: '';
    background: #000;
    border: 3px solid #fff;
    border-radius: 30%;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}

div.checkbox1 label {
    font-size: 1.4rem;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
}

input.checkbox-remember-data:checked + .checkbox-remember-data-label:before {
    content: "\2713";
    background: #000;
    color: #ffe062;
    font-size: 1.3rem;
    text-align: center;
    line-height: 1rem;
}

input.checkbox-remember-data:focus + .checkbox-remember-data-label {
    outline: 0px;
}


/* End of checkbox styles */

div.mini-button-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2.4rem;
}


/* Quantity x price + quantity button section */

div.details-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.2rem;
    width: 100%;
}

div.details-left {
    display: inline-block;
    width: 55%;
}

div.details-left p {
    margin: 0;
}

div.details-right {
    display: inline-block;
    width: 40%;
}

div.quantity {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

button.small {
    border: none;
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center;
}

button.minus {
    background: url(../img/minus.svg);
}

button.plus {
    background: url(../img/plus.svg);
}

div.quantity p {
    margin: 0 0.7rem;
    font-size: 2rem;
}
